<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/style.css">
    <link rel="stylesheet" href="public/themes.css">
    <title>Document</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1E7Y5YEFBN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-1E7Y5YEFBN');
    </script>

    <script src="https://unpkg.com/vue@3"></script>

    <script src="public/bundle.js"></script>
    <script src="public/app.js" defer></script>
</head>


<body>
    <div id="app">
        <div :class="{'darkMode': darkMode, 'lightMode': !darkMode}" id="main">
            <div id="messageToast"></div>
            <button id="themeToggle" @click="darkMode = !darkMode">
                <svg v-if="!darkMode" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                </svg>
                <svg v-else xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
                </svg>

            </button>
            <div class="card">
                <h1>Password Generation Tool</h1>
                <!-- <p>
                    How it works:
                    <br>
                    - Think of a master password. It should be difficult to guess and, more importantly, easy to
                    remember.
                    <br>
                    - Enter the website name (the word before .com in the url usually) as a "salt". This makes your
                    password
                    unique for each site you visit
                    <br>
                    - Generate the password!
                </p> -->
                <h3>Master Password</h3>
                <div class="textbox">
                    <input :type="passwordVisible ? 'text' : 'password'" @input="generate" v-model="masterPassword"
                        placeholder="Enter the master password">
                    <button @click="passwordVisible = !passwordVisible">
                        <svg v-if="!passwordVisible" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                        <svg v-else xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                        </svg>
                    </button>
                </div>
                <h3>Key</h3>
                <div class="textbox">
                    <input type="text" @input="generate" v-model="salt" placeholder="Enter a key (website name)">
                </div>
                <pre class="result"><div>{{hashedPassword}}</div> <button @click="copyText(hashedPassword)"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
                  </svg>
                  </button></pre>
                <!-- <pre>{{bookmarkletText}}</pre> -->
            </div>

            <div class="card">
                <h1>About</h1>
                <h2>What is this?</h2>
                <p>This is a stateless password manager, a utility for managing website passwords without storing them
                    in a database or file. Unlike traditional password alternatives that keep your passwords on your
                    computer
                    (or
                    worse, in the cloud), Passbirb will regenerate the same unique password anytime you want to login on
                    a
                    new device.</p>
                <h2>Who is this for?</h2>
                <p>You should use Passbirb if:
                <ul>
                    <li>You want your password for every website to be entirely unique, without memorizing a complicated
                    </li>
                    scheme.
                    <li>You're concerned that bad developers like storing your passwords in plaintext.</li>
                    <li>You want *some* protection against phishing attacks.</li>
                    <li>You want the ability to log in to services on guest computers without installing software.</li>
                    <li>You have trust issues.</li>
                </ul>
                </p>
                <p>
                    You should <strong>NOT</strong> use Passbirb if:
                <ul>
                    <li><strong>You can't remember your master password</strong>, or will have trouble keeping it
                        secret.</li>
                    <li>You don't trust my code, and you haven't read through it and/or built it yourself (or you can
                        trust me</li>
                    <li>I promise it's good).</li>
                    <li>You aren't sure if I will keep my website up indefinitely, and you haven't made a local copy.
                    </li>
                    <li>You don't want to change your password on every website you use.</li>
                </ul>
                </p>
                <h2>How does it work?</h2>
                <p>The source code is available on GitHub, for more information consult the <a href="https://github.com/expitau-dev/PasswordGenerator/blob/main/README.md">README</a></p>
            </div>
        </div>
    </div>
</body>

</html>
