
@mixin colorTemplate($base, $background, $primary, $secondary, $accent) {
    background-color: $background;
    color: $primary;

    .card {
        background-color: $base;
    }

    h1 {
        color: $primary;
    }

    h2 {
        color: $secondary;
    }

    h3 {
        color: $primary;
    }

    .result {
        background-color: $accent;
        color: $primary;
    }

    .result>button>svg {
        color: $primary;
    }

    .textbox {
        background-color: $background;

        input {
            background-color: $background;
            color: $primary;
        }

        button {
            color: $primary;
        }
    }

    .dropdown-content {
        color: $secondary;
        background-color: $background;

        &>.dropdown-list {
            &:hover {
                background-color: $base;
            }
            button {
                color: $primary;
            }
            button:first-child {
                cursor: default;
            }
        }
    }

    svg {
        color: $primary;
    }

    #messageToast {
        background-color: $accent;
        color: $primary;
    }
}
