body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    margin: 0;
    padding: 2rem 0 2rem 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    overflow-y: auto;
}

.card {
    margin: 2rem;
    display: block;
    border-radius: 1rem;
    border: 0px solid;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    padding: 0 20% 2rem 20%;
}

h1 {
    margin: 1rem auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}

h3 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: small;
    margin: 0.8rem 0 0.4rem 0;
}

.result {
    overflow-wrap: break-word;
    width: fit-content;
    max-width: 100%;
    margin: 2rem auto 0;
    overflow: unset;
    padding: 0.2rem;
    border-radius: 0.3rem;
    white-space: normal;
    display: flex;
    flex-direction: row;

    div {
        margin: auto 1rem;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.dropdown {
    position: relative;

    .dropdown-content {
        position: absolute;
        width: 100%;
        margin: 0.2rem 0rem;
        border-radius: 0.5rem;
        padding: 0.5rem 0rem;
        font-size: small;
        max-height: 12rem;
        overflow-y: auto;


        &>.dropdown-list {
            display: flex;
            flex-direction: row;
            // margin: 0rem 0.5rem;

            &>:first-child {
                text-align: left;
                flex: 1;
                padding: 1rem;
                height: 100%
            }

            &>:last-child {
                height: 100%;
                padding: 0.5rem auto;
            }

        }
    }

    // .item {
    //     display: flex;
    //     flex-direction: row;
    //     width: 100%;
    //     margin: 0 auto;

    //     :first-child {
    //         flex: 1;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         padding: 0rem 0rem 0rem 1rem;
    //     }
    // }
}

.textbox {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    /* padding-right: 1rem; */


}

.textbox>input {
    overflow-wrap: break-word;
    overflow: unset;
    min-width: 0;
    padding: 1rem;
    white-space: normal;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    flex: 1;
}

.textbox:focus-within {
    outline: solid;
}

svg {
    width: 1.3rem;
    height: 1.3rem;
    flex: none
}

button {
    border: none;
    margin: auto;
    background: none;
    padding: 0.5rem;
    cursor: pointer;
}

p {
    white-space: normal;
    margin: 0
}

#themeToggle {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2rem;
    margin: 1rem;
    z-index: 2;
}

#messageToast {
    opacity: 0;
    position: fixed;
    top: 0;
    padding: 1rem;
    margin: 1rem;
    z-index: 3;
    pointer-events: none;
    border-radius: 0.3rem;
}

.fade-in-out {
    opacity: 0;
    animation: fade 3s linear;
}

@keyframes fade {

    0%,
    100% {
        opacity: 0
    }

    5%,
    85% {
        opacity: 1
    }
}
