@import "mixins";

#main.lightMode {
    @include colorTemplate(#ffffff, #eaeaea, #000000, #222222, #42cda1);

    .textbox.PasswordStrength0:focus-within {
        outline: solid #000000;
        color: #000000;
    }

    .textbox.PasswordStrength1:focus-within {
        outline: solid #cd4242;
        color: #cd4242;
    }

    .textbox.PasswordStrength2:focus-within {
        outline: solid #cd8742;
        color: #cd8742;
    }

    .textbox.PasswordStrength3:focus-within {
        outline: solid #cdcd42;
        color: #cdcd42;
    }

    .textbox.PasswordStrength4:focus-within {
        outline: solid #42cd42;
        color: #42cd42;
    }

}

#main.darkMode {
    @include colorTemplate(#262625, #1a1a1a, #ebebeb, #aaaaaa, #33be91);

    .textbox.PasswordStrength0:focus-within {
        outline: solid #ebebeb;
        color: #ebebeb;
    }

    .textbox.PasswordStrength1:focus-within {
        outline: solid #bd3232;
        color: #bd3232;
    }

    .textbox.PasswordStrength2:focus-within {
        outline: solid #bd7832;
        color: #bd7832;
    }

    .textbox.PasswordStrength3:focus-within {
        outline: solid #bdbd32;
        color: #bdbd32;
    }

    .textbox.PasswordStrength4:focus-within {
        outline: solid #32bd32;
        color: #32bd32;
    }
}
